@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*Reset CSS*/
$navColor: darkblue;
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.textolinks{
    color: black;
    a:hover{
        color: gray;
    }
    a:active{
        color: black;
    }
}
.lineaAzul{
    border-bottom: 9px $navColor solid;
    margin-bottom: 5%;
}
.texto{
    font-weight: 600;
}
.textolinksBlanco{
    color: white;
    a:hover{
        color: gray;
    }
    a:active{
        color: white;
    }
}
/*Navbar*/
.navcolor{
    background-color: $navColor;
}
.logo{
    font-size: 1.5rem;
}
.navbarM{
    padding-left: 1%;
}
.logosNavbar{
    display: flex;
    flex-flow: row wrap;
    justify-content:end;
}

/*Section 1*/
.section1{
        display: flex;
        flex-flow: row wrap;

        .titulo{
            display: flex;
            flex-flow: row wrap;
            padding-top: 2.5%;
            padding-bottom: 2%;
            padding-left: 0.6%;
            .h1{
                color: black;
                font-weight: bolder;
                font-size: 5rem;
                .barra{
                    font-size: 1rem;
                }
            }
            .h2{
                color: black;
                font-weight: bolder;
                margin-top: 2.8%;
                padding-left: 0%;
                font-size: 2rem;
            }
    }
    .banner{
        width: 100%;
        height: auto;
    }
}
/*Section 2*/
.section2{
    margin-top: 2%;
    margin-left: 7%;
    .noticias{
        display: flex;
        flex-flow: column wrap;
        .noticiasH2{
            color: $navColor;
        }
        
    }
    .empresas{
        display: flex;
        flex-flow: column wrap;
        .empresasH2{
            color: $navColor;
        }
    }
    .publicidad{
        .colorPublicidad{
            background-color: $navColor;
                color: white;
                a:hover{
                    color: gray;
                }
                a:active{
                    color: white;
                }
                .textoPublicidad{
                    color: white;
                a:hover{
                    color: gray;
                }
                a:active{
                    color: white;
                }
                }
            }
        }
        .publicidadH4{
            margin-left: 10%;
            color: white;
                a:hover{
                    color: gray;
                }
                a:active{
                    color: white;
                }
        }
        .publicidadH5{
            margin-left: 10%;
            margin-bottom: 5%;
            color: white;
                a:hover{
                    color: gray;
                }
                a:active{
                    color: white;
                }
        }
        .publicidad2{
            border: black ridge 1px;
        }
        .publicidad3{
            iframe{

                width: 100%;
                height: 215px;
            }
        }
    }
    
/*Section 3*/
.section3{
    .section3H2{
        font-weight: bolder;
    }
    .section3P{
        font-size: 1.3rem;
    }
    .mccTravel{
        padding-top: 4%;
        padding-bottom: 4%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-items: center;
        color: white;
        background-color: black;
    }
    .mccOratoria{
        padding-top: 4%;
        padding-bottom: 4%;
        background-color: gray;
        color: white;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-items: center;
        a:hover{
            color: black;
        }
        
    }
}

/*section 4*/


/*footer*/
.footer{
background-color: $navColor;
}

/*Notas*/
.section2Nota{
    .nombre{
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
    }
    .encabezado{
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        justify-content: center;
        .h2NotaUnil{
            width: 70%;
        }
        .h2NotaBBVA{
            width: 70%;
        }
        .secondary{
            font-size: 1.2rem;
            font-weight: bold;
            padding-left: 5%;
        }
        .secondaryUnil{
            align-self: center;
            justify-self: center;
            font-weight: bold;
            width: 60%;
        }
    }
    .imagenNota{
        display: flex;
        justify-content: center;
        align-content: center;
        
        .imagenUni{
            width: 70%;
            height: auto;
        }
    }
    .textoNota{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        width: 70%;
        font-size: 1.5rem;
        aside {
            border-left: blue 2px solid;
            display: flex;
            align-self: center;
            justify-self: center;
                width: 60%;
                float: center;
                font-style: italic;
                font-weight: bold;
            }
    }    
}
/*Publicitar.html*/
.section2PublicidadRow{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
 .textoPublicidad{
     font-size: 1.5rem;
     width: 80%;
 }
}
.publicitarH2{
    padding-left: 30%;
    color: #2a53c1;
}
#botonInicio{
    position: fixed;
    bottom: 100px; 
    right: 10px;
    z-index: 99;
    cursor: pointer;
    width: 50px;
    height: auto; 
  }
  @media only screen and (min-width: 320px) and (max-width: 767px){
    /*Navbar Movil*/
    .navbarM{
        padding-left: 5%;
    }
    .logosNavbar{
        display: flex;
        flex-flow: row wrap;
        justify-content:center;
        align-items: center;
    }
    /*Section 1 movil*/
    .section1{
    display: flex;
    flex-flow: row wrap;

    .titulo{
        display: flex;
        flex-flow: row wrap;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 0.6%;
        .h1{
            color: black;
            font-weight: bolder;
            font-size: 2rem;
            .barra{
                font-size: 1rem;
            }
        }
        .h2{
            color: black;
            font-weight: bolder;
            margin-top: 4%;
            padding-left: 0%;
            font-size: 1rem;
        }
}
.banner{
    width: 100%;
    height: auto;
}
}
    /*Section 2 movil*/
.section2{
    margin-top: 2%;
    margin-left: 0%;
    
    .noticias{
        display: flex;
        flex-flow: column wrap;
        align-content: center;
    justify-content: center;
        .noticiasH2{
            margin-top: 5%;
            color: $navColor;
        }
        
    }
    .empresas{
        display: flex;
        flex-flow: column wrap;
        align-content: center;
    justify-content: center;
        .empresasH2{
            margin-top: 5%;
            color: $navColor;
        }
    }
    .publicidad{
        .colorPublicidad{
            background-color: $navColor;
                color: white;
                a:hover{
                    color: gray;
                }
                a:active{
                    color: white;
                }
                .textoPublicidad{
                    color: white;
                a:hover{
                    color: gray;
                }
                a:active{
                    color: white;
                }
                }
            }
        }
        .publicidadH4{
            margin-left: 7%;
            color: white;
                a:hover{
                    color: gray;
                }
                a:active{
                    color: white;
                }
        }
        .publicidadH5{
            margin-left: 14%;
            margin-bottom: 5%;
            color: white;
                a:hover{
                    color: gray;
                }
                a:active{
                    color: white;
                }
        }
        .textoPublicidad{
            padding-left: 5%;
        }
        .publicidad2{
            border: black ridge 1px;
        }
    }
    /*Section 3 movil*/
.section3{
    .section3H2{
        font-weight: bolder;
    }
    .section3P{
        font-size: 1.3rem;
        padding-left: 15%;
    }
    .mccTravel{
        padding-top: 4%;
        padding-bottom: 4%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-items: center;
        color: white;
        background-color: black;
    }
    .mccOratoria{
        padding-top: 4%;
        padding-bottom: 4%;
        background-color: gray;
        color: white;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-items: center;
        a:hover{
            color: black;
        }
        
    }
}
/*Notas Movil*/
.section2Nota{
    .nombre{
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
    }
    .encabezado{
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        justify-content: center;
        .secondary{
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
    .imagenNota{
        display: flex;
        justify-content: center;
        align-content: center;
        
        .imagenUni{
            width: 100%;
            height: auto;
        }
    }
    .textoNota{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        width: 100%;
        font-size: 1.5rem;
        aside {
            border-left: blue 2px solid;
            display: flex;
            align-self: left;
            justify-self: left;
            font-weight: bold;
                width: 60%;
                float: center;
                font-style: italic;
            }
    }    
}
  }
  @media only screen and (min-width: 768px) and (max-width: 991px){
    /*Navbar tablet Chica*/
    .logosNavbar{
        display: flex;
        flex-flow: row wrap;
        justify-content:space-evenly;
        align-items: center;
        padding-left: 10%;
        margin-left: 15%;
    }
    /*Section 1 tablet chica*/

    .section1{
        display: flex;
        flex-flow: row wrap;

        .titulo{
            display: flex;
            flex-flow: row wrap;
            padding-top: 2%;
            padding-bottom: 2%;
            padding-left: 0.6%;
            .h1{
                color: black;
                font-weight: bolder;
                font-size: 2rem;
                .barra{
                    font-size: 1rem;
                }
            }
            .h2{
                color: black;
                font-weight: bolder;
                margin-top: 1.7%;
                padding-left: 0%;
                font-size: 1rem;
            }
    }
}
}