@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*Reset CSS*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

.textolinks {
  color: black; }
  .textolinks a:hover {
    color: gray; }
  .textolinks a:active {
    color: black; }

.lineaAzul {
  border-bottom: 9px darkblue solid;
  margin-bottom: 5%; }

.texto {
  font-weight: 600; }

.textolinksBlanco {
  color: white; }
  .textolinksBlanco a:hover {
    color: gray; }
  .textolinksBlanco a:active {
    color: white; }

/*Navbar*/
.navcolor {
  background-color: darkblue; }

.logo {
  font-size: 1.5rem; }

.navbarM {
  padding-left: 1%; }

.logosNavbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: end; }

/*Section 1*/
.section1 {
  display: flex;
  flex-flow: row wrap; }
  .section1 .titulo {
    display: flex;
    flex-flow: row wrap;
    padding-top: 2.5%;
    padding-bottom: 2%;
    padding-left: 0.6%; }
    .section1 .titulo .h1 {
      color: black;
      font-weight: bolder;
      font-size: 5rem; }
      .section1 .titulo .h1 .barra {
        font-size: 1rem; }
    .section1 .titulo .h2 {
      color: black;
      font-weight: bolder;
      margin-top: 2.8%;
      padding-left: 0%;
      font-size: 2rem; }
  .section1 .banner {
    width: 100%;
    height: auto; }

/*Section 2*/
.section2 {
  margin-top: 2%;
  margin-left: 7%; }
  .section2 .noticias {
    display: flex;
    flex-flow: column wrap; }
    .section2 .noticias .noticiasH2 {
      color: darkblue; }
  .section2 .empresas {
    display: flex;
    flex-flow: column wrap; }
    .section2 .empresas .empresasH2 {
      color: darkblue; }
  .section2 .publicidad .colorPublicidad {
    background-color: darkblue;
    color: white; }
    .section2 .publicidad .colorPublicidad a:hover {
      color: gray; }
    .section2 .publicidad .colorPublicidad a:active {
      color: white; }
    .section2 .publicidad .colorPublicidad .textoPublicidad {
      color: white; }
      .section2 .publicidad .colorPublicidad .textoPublicidad a:hover {
        color: gray; }
      .section2 .publicidad .colorPublicidad .textoPublicidad a:active {
        color: white; }
  .section2 .publicidadH4 {
    margin-left: 10%;
    color: white; }
    .section2 .publicidadH4 a:hover {
      color: gray; }
    .section2 .publicidadH4 a:active {
      color: white; }
  .section2 .publicidadH5 {
    margin-left: 10%;
    margin-bottom: 5%;
    color: white; }
    .section2 .publicidadH5 a:hover {
      color: gray; }
    .section2 .publicidadH5 a:active {
      color: white; }
  .section2 .publicidad2 {
    border: black ridge 1px; }
  .section2 .publicidad3 iframe {
    width: 100%;
    height: 215px; }

/*Section 3*/
.section3 .section3H2 {
  font-weight: bolder; }

.section3 .section3P {
  font-size: 1.3rem; }

.section3 .mccTravel {
  padding-top: 4%;
  padding-bottom: 4%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-items: center;
  color: white;
  background-color: black; }

.section3 .mccOratoria {
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: gray;
  color: white;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-items: center; }
  .section3 .mccOratoria a:hover {
    color: black; }

/*section 4*/
/*footer*/
.footer {
  background-color: darkblue; }

/*Notas*/
.section2Nota .nombre {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center; }

.section2Nota .encabezado {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center; }
  .section2Nota .encabezado .h2NotaUnil {
    width: 70%; }
  .section2Nota .encabezado .h2NotaBBVA {
    width: 70%; }
  .section2Nota .encabezado .secondary {
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 5%; }
  .section2Nota .encabezado .secondaryUnil {
    align-self: center;
    justify-self: center;
    font-weight: bold;
    width: 60%; }

.section2Nota .imagenNota {
  display: flex;
  justify-content: center;
  align-content: center; }
  .section2Nota .imagenNota .imagenUni {
    width: 70%;
    height: auto; }

.section2Nota .textoNota {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  width: 70%;
  font-size: 1.5rem; }
  .section2Nota .textoNota aside {
    border-left: blue 2px solid;
    display: flex;
    align-self: center;
    justify-self: center;
    width: 60%;
    float: center;
    font-style: italic;
    font-weight: bold; }

/*Publicitar.html*/
.section2PublicidadRow {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center; }
  .section2PublicidadRow .textoPublicidad {
    align-content: center;
    justify-content: center;
    font-size: 1.5rem;
    width: 80%; }

.publicitarH2 {
  padding-left: 30%;
  color: #2a53c1; }

#botonInicio {
  position: fixed;
  bottom: 100px;
  right: 10px;
  z-index: 99;
  cursor: pointer;
  width: 50px;
  height: auto; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .logosFooter {
    padding-top: 10%;
    padding-left: 15%; }
  /*Navbar Movil*/
  .navbarM {
    padding-left: 5%; }
  .logosNavbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; }
  /*Section 1 movil*/
  .section1 {
    display: flex;
    flex-flow: row wrap; }
    .section1 .titulo {
      display: flex;
      flex-flow: row wrap;
      padding-top: 2%;
      padding-bottom: 2%;
      padding-left: 0.6%; }
      .section1 .titulo .h1 {
        color: black;
        font-weight: bolder;
        font-size: 2rem; }
        .section1 .titulo .h1 .barra {
          font-size: 1rem; }
      .section1 .titulo .h2 {
        color: black;
        font-weight: bolder;
        margin-top: 4%;
        padding-left: 0%;
        font-size: 1rem; }
    .section1 .banner {
      width: 100%;
      height: auto; }
  /*Section 2 movil*/
  .section2 {
    margin-top: 2%;
    margin-left: 0%; }
    .section2 .noticias {
      display: flex;
      flex-flow: column wrap;
      align-content: center;
      justify-content: center; }
      .section2 .noticias .noticiasH2 {
        margin-top: 5%;
        color: darkblue; }
    .section2 .empresas {
      display: flex;
      flex-flow: column wrap;
      align-content: center;
      justify-content: center; }
      .section2 .empresas .empresasH2 {
        margin-top: 5%;
        color: darkblue; }
    .section2 .publicidad .colorPublicidad {
      background-color: darkblue;
      color: white; }
      .section2 .publicidad .colorPublicidad a:hover {
        color: gray; }
      .section2 .publicidad .colorPublicidad a:active {
        color: white; }
      .section2 .publicidad .colorPublicidad .textoPublicidad {
        color: white; }
        .section2 .publicidad .colorPublicidad .textoPublicidad a:hover {
          color: gray; }
        .section2 .publicidad .colorPublicidad .textoPublicidad a:active {
          color: white; }
    .section2 .publicidadH4 {
      margin-left: 7%;
      color: white; }
      .section2 .publicidadH4 a:hover {
        color: gray; }
      .section2 .publicidadH4 a:active {
        color: white; }
    .section2 .publicidadH5 {
      margin-left: 14%;
      margin-bottom: 5%;
      color: white; }
      .section2 .publicidadH5 a:hover {
        color: gray; }
      .section2 .publicidadH5 a:active {
        color: white; }
    .section2 .textoPublicidad {
      padding-left: 5%; }
    .section2 .publicidad2 {
      border: black ridge 1px; }
  /*Section 3 movil*/
  .section3 .section3H2 {
    font-weight: bolder; }
  .section3 .section3P {
    font-size: 1.3rem;
    padding-left: 15%; }
  .section3 .mccTravel {
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-items: center;
    color: white;
    background-color: black; }
  .section3 .mccOratoria {
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: gray;
    color: white;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-items: center; }
    .section3 .mccOratoria a:hover {
      color: black; }
  /*Notas Movil*/
  .section2Nota .nombre {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center; }
  .section2Nota .encabezado {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center; }
    .section2Nota .encabezado .secondary {
      font-size: 1.2rem;
      font-weight: bold; }
  .section2Nota .imagenNota {
    display: flex;
    justify-content: center;
    align-content: center; }
    .section2Nota .imagenNota .imagenUni {
      width: 100%;
      height: auto; }
  .section2Nota .textoNota {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    font-size: 1.5rem; }
    .section2Nota .textoNota aside {
      border-left: blue 2px solid;
      display: flex;
      align-self: left;
      justify-self: left;
      font-weight: bold;
      width: 60%;
      float: center;
      font-style: italic; }
  /*Publicitar.html movil*/
  .section2PublicidadRow {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center; }
    .section2PublicidadRow .textoPublicidad {
      padding-left: 15%;
      font-size: 1.5rem;
      width: 80%; }
    .section2PublicidadRow .publicitarH2 {
      padding-left: 15%;
      margin-bottom: 5%;
      color: #2a53c1; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /*Navbar tablet Chica*/
  .logosNavbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 10%;
    margin-left: 15%; }
  /*Section 1 tablet chica*/
  .section1 {
    display: flex;
    flex-flow: row wrap; }
    .section1 .titulo {
      display: flex;
      flex-flow: row wrap;
      padding-top: 2%;
      padding-bottom: 2%;
      padding-left: 0.6%; }
      .section1 .titulo .h1 {
        color: black;
        font-weight: bolder;
        font-size: 2rem; }
        .section1 .titulo .h1 .barra {
          font-size: 1rem; }
      .section1 .titulo .h2 {
        color: black;
        font-weight: bolder;
        margin-top: 1.7%;
        padding-left: 0%;
        font-size: 1rem; } }
